.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	min-width: 15ch;
	min-height: 44px;
	padding: 0.8rem 1.6rem;

	cursor: pointer;
	color: #fff;
	background-color: var(--bs-primary);
	border: 1px solid var(--bs-primary);
	border-radius: rem(30);
	font-size: 1.125rem;
	font-weight: 700;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	transition-timing-function: var(--transition);
	transition-duration: 0.15s;
	transition-property: background-color, color, border-color;

	&:hover {
		color: var(--bs-body-color);
		background-color: var(--bs-gray);
		border-color: var(--bs-gray);
	}

	&:focus {
		color: var(--bs-body-color);
		background-color: var(--bs-gray);
		border-color: var(--bs-gray);
	}

	&[disabled] {
		pointer-events: none;
		opacity: 0.65;
	}
}