:root {
	/* --- Sizes --- */
	--container-padding: 16px;
	--container-width: calc(1280px + (var(--container-padding) * 2));
	--section-padding: 100px;
	--header-height: 100px;
	scroll-behavior: auto;

	/* --- Colors --- */
	--body-text-color: #000000;
	--body-bg: #ffffff;
	--color-primary: #4765BB;
	--transition: cubic-bezier(0.53, 0.04, 0.16, 0.98);

	/* --- Fonts --- */
	--font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--body-font-family: "Ubuntu", var(--font-sans-serif);
	--header-font: "Unbounded", var(--font-sans-serif);

	--h1-font-size: 5rem;
	--h2-font-size: 4rem;
	--h3-font-size: 3rem;
	--h4-font-size: 2rem;
	--h5-font-size: 1.5rem;
	--h6-font-size: 1.25rem;
}

/* --- Background-image --- */

@mixin bgi($size: cover, $position: center, $repeat: no-repeat) {
	background-size: $size;
	background-position: $position;
	background-repeat: $repeat;
}

@mixin imgcover($size: cover, $position: center) {
	object-fit: $size;
	object-position: $position;
}


@media (max-width: 1279px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 575px) {}