@mixin font-face($font-family, $font-name-1, $font-name-2, $file-path, $weight: normal, $style: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
		src: local("#{$font-name-1}"), local("#{$font-name-2}"), url("#{$file-path}.woff") format("woff");
	}
}
